<%= render "layouts/header" %>

<div class="image">


    <div class="quote-container">
        <i class="pin"></i>
        <blockquote class="note yellow">
          <%= image_tag attachment_url(@current_user, :photo, :fill, 300, 300, format: "jpg"), class:"img-circle"%>
            <br>
          <cite class="author">
            <%= @current_user.username %>
            <br>
            <%= @current_user.email %>
          </cite>
        </blockquote>
    </div>

    <div class="list">


    <% @current_user.cohorts.each do |cohort| %>
    <%= link_to cohort_path(id: cohort.id) do %>
        <%=cohort.cohort_name %>
        <br>
        <%end%>
    <%end%>
</div>

</div>
