<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-">
          <li><%= "WELCOME"%></li>
      </ul>
    </div>
</nav>


<%= simple_form_for @user do |f| %>
  <%= f.input :email %>
  <%= f.input :username %>
  <%= f.input :password %>
  <%= f.input :password_confirmation%>
  <%= f.attachment_field :photo, required: true%>
  <%= f.button :submit %>
<% end %>
<div>
  <%= link_to "Sign In", sign_in_path%>
</div>
