<%= render "layouts/header" %>



<div class="image">

   <%= form_tag(cohorts_path, :method => "get", id: "search-form") do %>
 <%= text_field_tag :search, params[:search], placeholder: "Find your class!" %>
 <%= submit_tag "Search", :name => nil %>   <%= link_to new_cohort_path do %><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><% end %>
<% end %>




   <!-- Table -->
   <table class="table table-striped">
     <thead>
       <tr>
         <th>
           Class
         </th>
         <th>
           Teacher
         </th>

       </tr>
     </thead>
     <tbody>
       <% @cohorts.each do |cohort| %>
         <tr>
           <td>
             <%= cohort.cohort_name %>
             <small>
                 <% if cohort.students.find_by(user_id: @current_user.id, cohort_id: cohort.id) %>
                   (current student) |
                   <%= link_to "leave class", leave_cohort_path(id: cohort.id), method: :delete %>
                 <% else %>
                   <%= link_to "join class", join_cohort_path(id: cohort.id), method: :post  %>
                 <% end %>
               </small>

           </td>
           <td>
             <%= cohort.teacher_name %>
           </td>

         </tr>
       <% end %>
     </tbody>
   </table>
</div>
