<%= render "layouts/header" %>



   <%= form_tag(cohorts_path, :method => "get", id: "search-form") do %>
 <%= text_field_tag :search, params[:search], placeholder: "Find your class!" %>
 <%= submit_tag "Search", :name => nil %>
<% end %>

   <!-- Table -->
   <table class="table table-striped">
     <thead>
       <tr>
         <th>
           Class
         </th>
         <th>
           Teacher
         </th>
         <th>
           Details
         </th>
       </tr>
     </thead>
     <tbody>
       <% @cohorts.each do |cohort| %>
         <tr>
           <td>
             <%= cohort.cohort_name %>
           </td>
           <td>
             <%= cohort.teacher_name %>
           </td>
           <td>
             <%= link_to "View Details", cohort_path(id: cohort.id) %>
           </td>
         </tr>
       <% end %>
     </tbody>
   </table>
