<%=render "layouts/header"%>
<h1><%= @cohort.cohort_name%></h1>
<h4><%= @cohort.teacher_name%></h4>
<h6><%= @cohort.description%></h6>

<%= link_to "Encyclopedia", entries_path(cohort_id: @cohort.id)%>
